<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- alias ============== -->
	<typeAliases>
		<typeAlias type="com.train.model.TrainVO" alias="Train" />
	</typeAliases>
	<!-- Mapper설정============== -->
	<mappers>
		<mapper resource="spring/mapper/oracle/TrainMapper.xml" />
	</mappers>
</configuration>